server:
  port: 8080
spring:
  config:
    activate:
      on-profile: prod
  jpa:
    hibernate:
      ddl-auto: update # 컬럼 추가 후 validate로 변경 권장
    show-sql: false
logging:
  level:
    root: WARN
    com.myplatform: INFO